{% extends 'base.html' %}
{% block title %}Education - My Portfolio{% endblock %}

{% block content %}
<section class="education-section">
    <h1>Education</h1>
    <p>Here’s a detailed overview of my academic background, including degrees, coursework, and key achievements throughout my educational journey.</p>

    <div class="education-entry">
        <h2>Bachelor of Technology in Computer Science</h2>
        <p class="institution">Nplj University, India</p>
        <p class="duration">August 2020 – May 2024</p>
        <ul class="details-list">
            <li><strong>CGPA:</strong> 8.9 / 10.0</li>
            <li><strong>Major Courses:</strong> Data Structures, Algorithms, Operating Systems, Computer Networks, Web Development, Machine Learning</li>
            <li><strong>Final Year Project:</strong> <em>“Smart Resume Analyzer using Natural Language Processing”</em></li>
        </ul>
    </div>

    <div class="education-entry">
        <h2>High School (Maths Stream)</h2>
        <p class="institution">Deepak chandra junior college</p>
        <p class="duration">April 2018 – March 2020</p>
        <ul class="details-list">
            <li><strong>Percentage:</strong> 92%</li>
            <li><strong>Subjects:</strong> Physics, Chemistry, Mathematics</li>
            <li><strong>Achievements:</strong> Topped in inter college</li>
        </ul>
    </div>


{% endblock %}
